header {
    background-color: rgb(100, 92, 173);
    color: white;

}


.display-3 {
    background-color: rgb(136, 140, 185);
    padding: 10px;
    margin: 10px;
    text-align: center;
}


.vision {
    /*background-color:  rgb(118, 163, 156);*/
    background-image: url(/img/psicologia.jpg);
    height: fit-content;

    background-size: cover;
    text-align: center;
    height: fit-content;
    margin: 10px 10px 10px 10px;

    padding: 15px;
    font-size: 1rem;
}

.mision {
    background-image: url(/img/psicologia.jpg);
    background-size: cover;
    text-align: center;
    height: fit-content;
    margin: 10px 10px 10px 10px;
    padding: 15px;
    font-size: 1rem;

}


