/* NOTICIAS*/

/*APLICANDO EXTEND*/

.actualidad {
    @extend .contenido;
    padding: 25px;

}

.eventos {
    @extend .contenido;
    padding: 30px;
}

.actualidad>p::first-letter {
    color: rgb(15, 15, 44);
    font-size: 3rem;
}

.eventos>p::first-letter {
    color: rgb(15, 15, 44);
    font-size: 3rem;
}

div img {

    border: solid black;
    width: 80%;
    height: auto;
    margin: 30px;
}

p {
    padding: 15px;
}


